@model IEnumerable<MagisterFluentAPI.Models.Matrizes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cursos.NomeCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disciplinas.NomeDisciplina)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cursos.NomeCurso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplinas.NomeDisciplina)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
