@model IEnumerable<MagisterFluentAPI.Models.Matriculas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Alunos.NomeAluno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disciplinas.NomeDisciplina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodosLetivos.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faltas1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faltas2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faltas3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Alunos.NomeAluno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplinas.NomeDisciplina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodosLetivos.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faltas1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faltas2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faltas3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
